body {
    background-image: radial-gradient(circle at 13.13% -2.65%, #e6cf74 0, #ffcd4b 16.67%, #e69c1d 33.33%, #ce810d 50%, #e27600 66.67%, #c25100 83.33%, #9c3100 100%);
    font-family: 'Poppins', sans-serif;
}

h2 {
    text-align: center;
    margin: 10%;
}

.container {
    position: relative;
    margin-top: 30px;
    width: 600px;
    height: 700px;
    background-color: #fff;
    box-shadow: 0 0 10px;
    border-radius: 30px;

}

.form-label {
    font-weight: bold;
    color: #333;
}

.form-control {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #F0960F;
    border-radius: 20px;
}

.btn {
    background-color: #F0960F;
    color: #fff;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: 600;
    transition: background-color 0.3s, color 0.3s;
}

.btn:hover {
    background-color: #000;
    color: #fff;
}

.mt-3 {
    color: #000000;
    font-weight: 600;
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 0 6rem  4rem;
}

.mt-3 a {
    color: #ff6600;
    text-decoration: none;
    font-weight: 600;
}

.mb-3 {
    margin-bottom: 20px; 
}

.mb-3.form-check .form-check-label {
    color: #000;
}